[submodule "dhscanner.service.fronts"]
	path = dhscanner.service.fronts
	url = https://github.com/OrenGitHub/dhscanner.service.fronts
[submodule "dhscanner.service.parsers"]
	path = dhscanner.service.parsers
	url = https://github.com/OrenGitHub/dhscanner.service.parsers
[submodule "dhscanner.service.codegen"]
	path = dhscanner.service.codegen
	url = https://github.com/OrenGitHub/dhscanner.service.codegen
[submodule "dhscanner.service.kbgen"]
	path = dhscanner.service.kbgen
	url = https://github.com/OrenGitHub/dhscanner.service.kbgen
[submodule "dhscanner.service.queryengine"]
	path = dhscanner.service.queryengine
	url = https://github.com/OrenGitHub/dhscanner.service.queryengine
